*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://images.adsttc.com/media/images/594d/7f74/b22e/3898/a700/0951/large_jpg/ciudad.jpg?1498251119');
}
.background{
    width: 490px;
    height: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(40px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form p{
    text-align: center;
}
form p img{
    content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgAjlhw1OtwTstPm23WLsU6DBlXNxF0Cl-KQ&s");
}
label{
    display: block;
    margin-top: 20px;
}

#message{
    margin-top: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: none;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.rounded-image {
    border-radius: 50%;
}

@media (max-width: 650px) {
    form{
        width: 300px;
    }

    .background{
        width: 250px;
    }

    .background .shape:first-child{
        height: 140px;
        width: 140px;
    }

    .background .shape:last-child{
        height: 110px;
        width: 110px;
    }
}

@media (max-width: 409px) {
    form{
        width: 300px;
    }

    .background{
        width: 250px;
    }

    .background .shape:first-child{
        height: 0px;
        width: 0px;
    }

    .background .shape:last-child{
        height: 0px;
        width: 0px;
    }
}